<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyExpenses</display-name>
    <servlet>
       <servlet-name>MyExpenses</servlet-name>
       <servlet-class>web.LoginController</servlet-class>
    </servlet>	
	<servlet-mapping>
	   <servlet-name>MyExpenses</servlet-name>
	   <url-pattern></url-pattern>
	</servlet-mapping>	
	
	<servlet>
       <servlet-name>Main</servlet-name>
       <servlet-class>web.ItemsController</servlet-class>
    </servlet>	
	<servlet-mapping>
	   <servlet-name>Main</servlet-name>
	   <url-pattern>/MyExpenses/Main</url-pattern>
	</servlet-mapping>	
	
	<servlet>
       <servlet-name>Create</servlet-name>
       <servlet-class>dao.CreateItem</servlet-class>
    </servlet>	
	<servlet-mapping>
	   <servlet-name>Create</servlet-name>
	   <url-pattern>/MyExpenses/CreateItem</url-pattern>
	</servlet-mapping>	
	
	<servlet>
       <servlet-name>Edit</servlet-name>
       <servlet-class>dao.EditItem</servlet-class>
    </servlet>	
	<servlet-mapping>
	   <servlet-name>Edit</servlet-name>
	   <url-pattern>/MyExpenses/EditItem</url-pattern>
	</servlet-mapping>	
	
	<servlet>
       <servlet-name>Delete</servlet-name>
       <servlet-class>dao.DeleteItem</servlet-class>
    </servlet>	
	<servlet-mapping>
	   <servlet-name>Delete</servlet-name>
	   <url-pattern>/MyExpenses/DeleteItem</url-pattern>
	</servlet-mapping>	
	
</web-app>